@keyframes borderPulseWhite {
  0% {
    box-shadow: inset 0px 0px 0px 5px rgba(251, 131, 111, .4),
                      0px 0px 0px 0px rgba(251, 131, 111, 1);
  }
  100% {
    box-shadow: inset 0px 0px 0px 3px rgba(232, 232, 255, .2),
                      0px 0px 0px 10px rgba(251, 131, 111, 0);
  }
}

//EMOJI

@keyframes eyeAngry {
  0% {
    transform: scale(1);
  }
  17.5% {
    transform: scale(1) translate(7px, 0);
  }
  35% {
    transform: scale(1) translate(-7px, 0);
  }
  52.5% {
    transform: scale(1) translate(0, -7px);
  }
  70% {
    transform: scale(1) translate(0, 8px);
  }
  80% {
    transform: scale(1) translate(0, 2px);
  }
  90% {
    transform: scale(1) translate(0, 8px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mouthAngry {
  0% {
    transform: scale(1);
  }
  17.5% {
    transform: scale(0.85) translate(7px, 0);
  }
  26.25% {
    transform: scale(1) translate(0, 0);
  }
  35% {
    transform: scale(0.85) translate(-7px, 0);
  }
  52.5% {
    transform: scale(0.85) translate(0, -7px);
  }
  61.25% {
    transform: scale(1) translate(0, 0);
  }
  70% {
    transform: scale(0.85) translate(0, 7px);
  }
  80% {
    transform: scale(0.9) translate(0, 0);
  }
  90% {
    transform: scale(0.85) translate(0, 7px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes eyeSad {
  0% {
    transform: scale(1);
  }
  16.66% {
    transform: scale(1) translate(7px, 0);
  }
  33% {
    transform: scale(1) translate(-7px, 0);
  }
  50% {
    transform: scale(1) translate(0, -7px);
  }
  66.66% {
    transform: scale(1) translate(0, 8px);
  }
  83.35% {
    transform: scale(1) translate(-7px, 0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mouthSad {
  0% {
    transform: scale(1);
  }
  16.66% {
    transform: scale(0.8) translate(7px, 0);
  }
  24.99% {
    transform: scale(1) translate(0, 0);
  }
  33% {
    transform: scale(0.8) translate(-7px, 0);
  }
  50% {
    transform: scale(0.8) translate(0, -8px);
  }
  58.66% {
    transform: scale(1) translate(0, 0);
  }
  66.66% {
    transform: scale(0.8) translate(0, 5px);
  }
  83.35% {
    transform: scale(0.8) translate(-7px, 0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes eyeGoodLeft {
  0% {
    transform: scale(0.75);
  }
  8.33% {
    transform: scale(0.75) translate(0, 8px);
  }
  16.66% {
    transform: scale(0.75) translate(0, 8px);
  }
  33% {
    transform: scale(1) translate(0, -7px);
  }
  41.33% {
    transform: scale(1) translate(0, -7px);
  }
  50% {
    transform: scale(0.75) translate(0, 8px);
  }
  60% {
    transform: scale(0.75) translate(-7px, -3px);
  }
  70% {
    transform: scale(0.75) translate(7px, -6px);
  }
  80% {
    transform: scale(0.75) translate(-7px, 6px);
  }
  90% {
    transform: scale(0.75) translate(7px, 3px);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes eyeGoodRight {
  0% {
    transform: scale(0.75);
  }
  8.33% {
    transform: scale(0.75) translate(0, 8px);
  }
  16.66% {
    transform: scale(0.75) translate(0, 8px);
  }
  33% {
    transform: scale(1) translate(0, -7px);
  }
  41.33% {
    transform: scale(1) translate(0, -7px);
  }
  50% {
    transform: scale(0.75) translate(0, 8px);
  }
  60% {
    transform: scale(0.75) translate(-7px, -6px);
  }
  70% {
    transform: scale(0.75) translate(7px, -3px);
  }
  80% {
    transform: scale(0.75) translate(-7px, 3px);
  }
  90% {
    transform: scale(0.75) translate(7px, 6px);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes blushGood {
  0% {
    transform: scale(1);
  }
  8.33% {
    transform: scale(0.85) translate(0, 3px);
  }
  16.66% {
    transform: scale(0.85) translate(0, 3px);
  }
  24.99% {
    transform: scale(1) translate(0, 3px);
  }
  33% {
    transform: scale(0.85) translate(0, -3px);
  }
  41.33% {
    transform: scale(0.85) translate(0, -3px);
  }
  44% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(0.85) translate(0, 3px);
  }
  60% {
    transform: scale(1) rotate(-10deg) translate(-3px, -2px);
  }

  70% {
    transform: scale(1) rotate(10deg) translate(3px, -2px);
  }

  80% {
    transform: scale(1) rotate(-10deg) translate(-3px, 2px);
  }

  90% {
    transform: scale(1) rotate(10deg) translate(3px, 2px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mouthGood {
  0% {
    transform: scale(1);
  }
  8.33% {
    transform: scale(0.85) translate(0, 6px);
  }
  16.66% {
    transform: scale(0.85) translate(0, 6px);
  }
  24.99% {
    transform: scale(1) translate(0, 3px);
  }
  33% {
    transform: scale(0.85) translate(0, -1px);
  }
  41.33% {
    transform: scale(0.85) translate(0, -1px);
  }
  44% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(0.85) translate(0, 8px);
  }
  60% {
    transform: scale(1) rotate(-10deg) translate(-4px, -1px);
  }

  70% {
    transform: scale(1) rotate(10deg) translate(4px, -1px);
  }

  80% {
    transform: scale(1) rotate(-10deg) translate(-4px, 4px);
  }

  90% {
    transform: scale(1) rotate(10deg) translate(4px, 4px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes eyeLeftHappy {
  0% {
    transform: rotate(-25deg) scale(0.8);
  }
  10% {
    transform: rotate(-25deg) scale(1) translate(7px, 3px);
  }
  20% {
    transform: rotate(-25deg) scale(0.8) translate(3px, 3px);
  }
  30% {
    transform: rotate(-25deg) scale(1) translate(7px, 3px);
  }
  40% {
    transform: rotate(-25deg) scale(0.8) translate(3px, -7px);
  }
  50% {
    transform: rotate(-25deg) scale(0.65);
  }
  60% {
    transform: rotate(-25deg) scale(0.8) translate(-7px, -3px);
  }
  70% {
    transform: rotate(-25deg) scale(1) translate(-3px, -3px);
  }
  80% {
    transform: rotate(-25deg) scale(0.8) translate(7px, 3px);
  }
  90% {
    transform: rotate(-25deg) scale(1) translate(3px, -7px)
  }
  100% {
    transform: rotate(-25deg) scale(0.8);
  }
}

@keyframes eyeRightHappy {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.8) translate(7px, 0px);
  }
  20% {
    transform: scale(1) translate(3px, 3px);
  }
  30% {
    transform: scale(0.8) translate(7px, 0px);
  }
  40% {
    transform: scale(1) translate(0px, -7px);
  }
  50% {
    transform: scale(0.65);
  }
  60% {
    transform: scale(1) translate(-7px, 0px);
  }
  70% {
    transform: scale(0.8) translate(-3px, -3px);
  }
  80% {
    transform: scale(1) translate(7px, 0px);
  }
  90% {
    transform: scale(0.8) translate(0px, -7px)
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blushHappy {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1) translate(5px, 0px);
  }
  20% {
    transform: scale(1) translate(3px, 3px);
  }
  30% {
    transform: scale(1) translate(5px, 0px);
  }
  40% {
    transform: scale(1) translate(0px, -5px);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1) translate(-5px, 0px);
  }
  70% {
    transform: scale(1) translate(-3px, -3px);
  }
  80% {
    transform: scale(1) translate(5px, 0px);
  }
  90% {
    transform: scale(1) translate(0px, -5px)
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mouthHappy {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.85) translate(7px, 0px);
  }
  20% {
    transform: scale(0.9) translate(3px, 2px);
  }
  25% {
    transform: scale(1) translate(5px, 0px);
  }
  30% {
    transform: scale(0.85) translate(7px, -1px);
  }
  40% {
    transform: scale(0.9) translate(0px, -6px);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.85) translate(-7px, -1px);
  }
  70% {
    transform: scale(0.9) translate(-3px, -2px);
  }
  80% {
    transform: scale(1) translate(7px, -1px);
  }
  85% {
    transform: scale(0.85) translate(3px, -4px);
  }
  90% {
    transform: scale(0.9) translate(0px, -8px)
  }
  100% {
    transform: scale(1);
  }
}
