.article-blog {
  padding: 200px 15px 90px;
}

.article-blog__header {
  margin-bottom: 50px;
  .article-section {
    font-size: 13px;
    display: inline-block;
    .separate {
      color: #222;
    }
  }
  .article-title {
    height: inherit;
    max-width: 710px;
    font-size: 36px;
    margin-bottom: 0;
    @media #{$sm} {
      font-size: 26px;
    }
  }
}

.article-blog__header-footer {
  display: inline-flex;
  align-items: baseline;
  padding-top: 5px;
  @media #{$sm} {
    display: flex;
    flex-direction: column;
  }
  .article-stars {
    margin: 0 10px 0 34px;
    @media #{$sm} {
      margin: 10px 0;
    }
    > a {
      color: #0399cd;
      &:last-child {
        color: #a1b2ba;
      }
    }
  }
  .article-comments {
    margin-right: 37px;
    &:last-of-type {
      margin-right: 0;
    }
    @media #{$sm} {
      margin: 3px 0;
    }
  }
}

.article-blog-line {
  margin: 50px 0 90px;
  border: 0;
  height: 1px;
  background-color: #e4e4e4;
  @media #{$sm} {
    margin-top: 30px;
    margin-bottom: 40px;
  }

}

.article-blog__main {
  display: flex;
  @media #{$sm} {
    flex-direction: column;
  }
}

/* left side */
.article-blog__main-left {
  width: 100%;
  max-width: 984px;
  margin-right: 80px;
  @media #{$md} {
    margin-right: 40px;
  }
}

.article-blog__post {
  strong {
    font-weight: 700;
  }
  em {
    font-weight: 500;
  }
  blockquote {
    margin: 15px 0 50px 0;
    padding: 8px 0 15px 50px;
    background-color: transparent;
    p {
      font-size: 18px;
      font-weight: 500;
      @media #{$sm} {
        font-size: 16px;
      }
    }
    span {
      display: block;
      margin-top: 25px;
      font-size: 14px;
      font-weight: 500;
      font-style: italic;
      color: #90a4ae;
      &:before {
        content: '­—';
        margin-right: 3px;
      }
    }
    &:after {
      content: '';
      width: 2px;
      height: 100%;
      background-color: #0099cc;
    }
  }
  .article-num-list {
    list-style: none;
    counter-reset: my-awesome-counter;
    @media #{$sm} {
      padding-left: 0;
    }
    li {
      counter-increment: my-awesome-counter;
      & + li {
        margin-top: 5px;
      }
      a {
        color: #0099cc;
        text-decoration: none;
      }
    }
    li::before {
      content: counter(my-awesome-counter) ". ";
      color: #424242;
      font-weight: 700;
      margin-right: 13px;
    }
  }
  .article-circle-list {
    list-style: none;
    @media #{$sm} {
      padding-left: 0;
    }
    li {
      & + li {
        margin-top: 5px;
      }
      &:before {
        content: '•';
        font-family: $base-font;
        font-size: 16px;
        font-weight: 700;
        margin-right: 20px;
      }
    }
  }
  .article-compare-list {
    list-style: none;
    @media #{$sm} {
      padding-left: 0;
    }
    li {
      display: flex;
      align-items: center;
    }
    &__plus, &__minus {
      position: relative;
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 17px;
      border-radius: 1px;
      &:before, &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: #0099cc;
      }
    }
    &__plus {
      &:before, &:after {
        content: '';
      }
      &:before {
        width: 12px;
        height: 2px;
      }
      &:after {
        width: 2px;
        height: 12px;
      }
    }
    &__minus {
      &:before {
        content: '';
        width: 12px;
        height: 2px;
      }
    }
  }
  .article-blog-article {
    display: flex;
    margin: 40px 0;
    background-color: #61c0ff;
    @media #{$sm} {
      flex-wrap: wrap;
    }
    &__img {
      min-width: 90px;
      padding: 20px;
      text-align: center;
      border-right: 1px solid #35adfd;
      @media #{$sm} {
        width: 100%;
        border-bottom: 1px solid #35adfd;
      }
    }
    &__txt {
      display: flex;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-grow: 1;
      padding: 15px 100px 15px 30px;
      @media #{$sm} {
        padding: 15px 20px 15px 20px;
      }
      * {
        flex-basis: 100%;
      }
      a {
        font-weight: 400;
        &:hover {
          color: #fff;
        }
      }
    }
    &__title {
      margin-bottom: 5px;
      font-size: 10px;
      color: #cfecff;
      text-transform: uppercase;
    }
    &__title, b {
      font-weight: 600;
    }
    p, b, a {
      color: #fff;
    }
    b {
      font-size: 21px;
      @media #{$sm} {
        font-size: 18px;
      }
    }
    p {
      line-height: 27px;
    }
    a {
      font-weight: 400;
      color: #fff;
      &:hover, &:visited {
        font-weight: 400;
        color: #fff;
      }
    }
  }
  .post-content {
    a {
      text-decoration: underline;
    }
  }
  a {
    &.scroll-to-btn-contact {
      text-decoration: none;
    }
  }
  .user-article {
    margin-top: 80px;
    @media #{$sm} {
      margin-top: 50px;
    }
  }
  > p {
    margin-bottom: 30px;
    a {
      &:hover,&:visited {
        color: #212529;
      }
    }
    @media #{$sm} {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  > span {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    @media #{$sm} {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  .article-blog-line {
    margin: 40px 0;
  }
  > h2 {
    font-size: 24px;
    font-weight: 600 !important;
    margin-bottom: 25px;
    @media #{$sm} {
      font-size: 18px;
    }
  }
  > h3 {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
    @media #{$sm} {
      font-size: 16px;
    }
  }
  > pre {
    word-break: normal;
    white-space: pre-wrap;
    display: block;
    padding: 11px;
    margin: 0 0 30px;
    font-size: 13px;
    line-height: 1.65;
    word-wrap: break-word;
    color: #222;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  ul,
  ol {
    //padding-left: 0;
    > li {
      line-height: 1.5;
    }
  }
}

.article-blog__post-img {
  margin-bottom: 40px;
  img {
    max-width: 100%;
  }
}

.article-blog__post-desc {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #90a4ae;
  margin-top: 20px;
}

.user-article {
  display: flex;
}

.user-article__avatar {
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  margin-right: 40px;
  @media #{$sm} {
    margin-right: 20px;
  }
  > a {
    display: inline-block;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.user-article__name {
  color: #424242;
  font-size: 18px;
  font-weight: 600;
}

.user-article__desc {
  font-size: 14px;
  font-weight: 300;
  margin: 15px 0 27px;
}

.user-article__link {
  display: inline-block;
  color: #09c;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #e4e4e4;
  padding: 12px 17px;
  @media #{$sm} {
    font-size: 12px;
  }
}

.article-blog__comments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  @media #{$sm} {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}

.article-blog__comments-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  @media #{$md} {
    font-size: 26px;
  }
}

.num-comments {
  color: #90a4ae;
  font-weight: 300;
}

.article-blog__comments-btn {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: #09c;
  padding: 15px 30px;
  @media #{$sm} {
    margin-bottom: 20px;
  }
}

button.article-blog__comments-btn {
  @media #{$md} {
    margin-top: 20px;
  }
  @media #{$sm} {
    margin-bottom: 0;
  }
}

.article-blog__comment {
  //padding-top: 40px;
}

.article-blog__comment-author {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.article-blog__comment-date {
  color: #90a4ae;
  font-family: $base-font;
  font-size: 12px;
  font-weight: 300;
}

.article-blog__comment-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  margin: 25px 0;
  //padding-right: 30px;
}

.reply-btn {
  display: inline-block;
  color: #0099cc;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.reply-block {
  position: relative;
  padding: 40px 0 0 115px;
  &::after {
    position: absolute;
    content: '';
    top: 40px;
    left: 15px;
    width: 57px;
    height: 30px;
    display: block;
    flex-shrink: 0;
    background: url(/img/articles/reply-com-ic.svg);
  }
  @media #{$sm} {
    padding: 30px 0 0 50px;
    &::after {
      top: 12px;
      left: 5px;
      width: 35px;
    }
  }
}

.leave-reply-block {
  position: relative;
  display: none;
  background-color: #f7f7f7;
  padding: 40px 60px 50px 60px;
  margin-bottom: 24px;
  @media #{$md} {
    padding: 40px 10px 30px;
  }
  &.is-active {
    display: block;
  }
}

.leave-reply-block__form {
  p.logged-in-as {
    margin: 5px 0;
    > a {
      color: #424242;
    }
  }
}

.leave-reply-block__row {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  @media #{$md} {
    flex-direction: column;
  }
  .box-tultip {
    margin-right: 30px;
    @media #{$md} {
      margin: 0 0 10px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  .input-form {
    background-color: #fff;
    padding: 14px 10px 14px 22px;
  }
  .placeholder-form {
    font-family: $base-font;
    font-size: 13px;
    font-weight: 400;
    color: #424242;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: #90a4ae;
      font-weight: 500;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #90a4ae;
      font-weight: 500;
      opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #90a4ae;
      font-weight: 500;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #90a4ae;
      font-weight: 500;
    }
  }
}

.textarea-form {
  width: 100%;
  background-color: #fff;
  padding: 14px 10px 14px 22px;
  resize: none;
  height: 110px;
}

.download-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 26px 30px 35px 30px;
  margin-bottom: 50px;
  background-color: #f7f8fa;
  @media #{$md} {
    display: block;
  }
  @media #{$sm} {
    padding: 26px 20px 35px 20px;
  }
  &__title {
    display: block;
    flex-basis: 100%;
    margin-bottom: 15px;
    font-weight: 600;
    @media #{$sm} {
      margin-bottom: 25px;
      font-size: 14px;
    }
    span {
      color: #ff6d3c;
    }
  }
  &__group {
    flex-grow: 1;
    flex-basis: calc(33% - 30px);
    input {
      width: 100%;
      height: 42px;
      padding-right: 20px;
      padding-left: 20px;
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #90a4ae;
        font-weight: 500;
        text-transform: uppercase;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #90a4ae;
        font-weight: 500;
        text-transform: uppercase;
        opacity: 1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #90a4ae;
        font-weight: 500;
        text-transform: uppercase;
        opacity: 1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #90a4ae;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    & ~ * {
      margin-left: 30px;
      @media #{$md} {
        margin-top: 25px;
        margin-left: 0;
      }
      @media #{$sm} {

      }
    }
  }
  .send-btn {
    width: 164px;
    height: 42px;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    background-color: #0099cc;
    @media #{$sm} {
      margin: 25px auto 0;
    }
  }
}

.article-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 30px 0;
  background-color: #f4f4f4;
  @media #{$sm} {
    padding: 20px 15px;
  }
  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #424242;
    @media #{$sm} {
      font-size: 14px;
    }
  }
  button {
    max-width: 145px;
    height: 40;
    margin-top: 16px;
    padding: 0;
    font-size: 13px;
    letter-spacing: 0.33px;
    background-color: #ff6d3c;
  }
}

//RATING BAR EMOJI
.rating {
  position: relative;
  width: 350px;
  height: 40px;
  margin-bottom: 25px;
  @media #{$sm} {
    width: 290px;
    animation: mobileRating 10s infinite;
  }
  &__bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 25px;
    margin: auto;
    border-radius: 13px;
    background-color: #efefef;
  }
  &__list {
    position: relative;
    width: calc(100% - 20px);
    height: 100%;
    margin: auto;
    padding-left: 0;
    list-style: none;
  }
  &__eye, &__blush, &__mouth {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0.8);
    transition: 0.15s all linear;
  }
  &__eye, &__blush, &__mouth {
    right: 0;
    left: 0;
    margin: auto;
  }
  &__eye {
    z-index: 1;
    &--left, &--right {
      right: initial;
      left: initial;
      margin: 0;
    }
  }
  &__blush {
    top: 25px;
    width: 32px;
    height: 5px;
    background-image: url(/wp-content/themes/gbkblog/img/articles/blush.svg);
  }
  &__item {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #ff9463 0%, #ffde6b 100%);
    transform: scale(0.8);
    overflow: hidden;
    transition: 0.15s all linear;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-image: url(/wp-content/themes/gbkblog/img/articles/ellips.svg);
    }
    &:hover {
      transform: scale(1);
    }
    &--first {
      left: 0px;
      background-image: linear-gradient(to right, #ce303a 0%, #ff4a5a 100%);
      .rating {
        &__eye {
          top: 15px;
          width: 25px;
          height: 9px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/eye-1.svg);
          @media #{$sm} {
            animation: mobileRating 2.5s linear;
          }
        }
        &__mouth {
          top: 27px;
          width: 13px;
          height: 6px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/mouth-1.svg);
        }
      }
      &:hover {
        .rating {
          &__eye {
            animation: eyeAngry 2.5s linear infinite;
          }
          &__mouth {
            animation: mouthAngry 2.5s linear infinite;
          }
        }
      }
    }
    &--second {
      left: 21%;
      .rating {
        &__eye {
          top: 15px;
          width: 28px;
          height: 12px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/eye-2.svg);
        }
        &__mouth {
          top: 32px;
          width: 12px;
          height: 2px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/mouth-2.svg);
        }
      }
      &:hover {
        .rating {
          &__eye {
            animation: eyeSad 1.5s linear infinite;
          }
          &__mouth {
            animation: mouthSad 1.5s linear infinite;
          }
        }
      }
    }
    &--thirth {
      left: calc(50% - 23px);
      .rating {
        &__eye {
          top: 15px;;
          width: 11px;
          height: 11px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/eye-3.svg);
          transform: scale(0.65);
          &--left {
            left: 10px;
          }
          &--right {
            right: 10px;
          }
        }
        &__mouth {
          top: 30px;
          width: 13px;
          height: 6px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/mouth-3.svg);
        }
      }
      &:hover {
        .rating {
          &__eye {
            &--left {
              animation: eyeGoodLeft 2.5s linear infinite;
            }
            &--right {
              animation: eyeGoodRight 2.5s linear infinite;
            }
          }
          &__blush {
            animation: blushGood 2.5s linear infinite;
          }
          &__mouth {
            animation: mouthGood 2.5s linear infinite;
          }
        }
      }
    }
    &--fourth {
      left: 65%;
      @media #{$sm} {
        left: 62%;
      }
      .rating {
        &__eye {
          top: 13px;
          width: 15px;
          height: 15px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/eye-4.svg);
          &--left {
            left: 6px;
            transform: rotate(-25deg) scale(0.8);
          }
          &--right {
            right: 6px;
          }
        }
        &__mouth {
          top: 30px;
          width: 16px;
          height: 8px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/mouth-4.svg);
        }
      }
      &:hover {
        .rating {
          &__eye {
            &--left {
              animation: eyeLeftHappy 3s linear infinite;
            }
            &--right {
              animation: eyeRightHappy 3s linear infinite;
            }
          }
          &__blush {
            animation: blushHappy 3s linear infinite;
          }
          &__mouth {
            animation: mouthHappy 3s linear infinite;
          }
        }
      }
    }
    &--fifth {
      left: calc(100% - 47px);
      .rating {
        &__eye {
          top: 10px;
          width: 20px;
          height: 20px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/eye-5.svg);
          &--left {
            left: 4px;
            transform: rotate(-25deg) scale(0.8);
          }
          &--right {
            right: 4px;
          }
        }
        &__mouth {
          top: 30px;
          width: 16px;
          height: 8px;
          background-image: url(/wp-content/themes/gbkblog/img/articles/mouth-4.svg);
        }
      }
      &:hover {
        .rating {
          &__eye {
            &--left {
              animation: eyeLeftHappy 2.5s linear infinite;
            }
            &--right {
              animation: eyeRightHappy 2.5s linear infinite;
            }
          }
          &__blush {
            animation: blushHappy 2.5s linear infinite;
          }
          &__mouth {
            animation: mouthHappy 2.5s linear infinite;
          }
        }
      }
    }
  }
}

.article-video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  margin-bottom: 50px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* end left side */

/* rigt side */
.article-blog__main-right {
  width: 100%;
  max-width: 260px;
  flex-shrink: 0;
  min-height: 927px;
  @media #{$sm} {
    max-width: 100%;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #e4e4e4;
    min-height: auto;
  }
}

.article-blog__search {
  .enter-search-btn {
    right: 17px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin: 0;
  }
  .input-form {
    background-color: #efefef;
    padding-right: 40px;
  }
  .placeholder-form {
    font-family: $base-font;
    font-weight: 400;
    color: #424242;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: #90a4ae;
      font-weight: 500;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #90a4ae;
      font-weight: 500;
      opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #90a4ae;
      font-weight: 500;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #90a4ae;
      font-weight: 500;
    }
  }
}

.categories-title {
  position: relative;
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 26px;
  margin-bottom: 30px;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 27px;
    height: 1px;
    display: block;
    background-color: #cfd8dc;
  }
}

.article-blog__nav {

}

.article-blog__nav-link {
  display: block;
  color: #424242;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  transition: color .2s linear;
  &:hover {
    color: darken(#424242, 50%);
  }
}

.subscribe-form {
  &.fixed-position {
    position: fixed;
    width: 260px;
  }
}

.subscribe-form__container {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #61c0ff;
  padding: 30px 30px 40px;
}

.subscribe-form__content {
  margin-bottom: 30px;
}

.subscribe-form__title {
  font-size: 18px;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 15px;
}

.subscribe-form__desc {
  font-family: $second-font;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
}

.subscribe-form__form {
  .box-tultip {
    margin-bottom: 10px;
  }
  .input-form {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .placeholder-form {
    font-family: $base-font;
    font-size: 14px;
    font-weight: 300;
    color: #424242;
    text-transform: none;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: #8a8a8a;
      font-weight: 300;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #8a8a8a;
      font-weight: 300;
      opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #8a8a8a;
      font-weight: 300;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #8a8a8a;
      font-weight: 300;
    }
  }
  .send-btn {
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-top: 10px;
    padding: 13px 15px 11px;
  }
}

.how-long {
  display: inline-block;
  color: #90a4ae;
}

.tags-container--right {
  margin-bottom: 70px;
}

.contents {
  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 60px;
    li {
      & + li {
        margin-top: 20px;
      }
      &.active {
        a {
          color: #26a1d0;
          &:before {
            border-color: #26a1d0;
          }
        }
      }
    }
    a {
      display: inline-block;
      font-weight: 500;
      color: #424242;
      letter-spacing: .4px;
      vertical-align: middle;
      &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin: -3px 18px 0 0;
        padding: 3px;
        vertical-align: middle;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #cfd8dc;
        transform: rotate(-45deg);
      }
    }
  }
}

/* end rigt side */
